.couponContainer {
  background-color: lightgray;
  padding: 0.5rem;
  border-radius: 1rem;
}

.couponInput {
  width: 60%;
  margin-right: 0.7rem;
}

.message {
  text-transform: capitalize;
}

.error {
  text-transform: capitalize;
  color: red;
}
