.owner{
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}


.ownerInfo{
    background-color: azure;
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
  
}

.ownerInfo .description{
    text-align: center;
}

.ownerInfo .description span{
    position: relative;
    top: 10px;
    color: red;
}

.imageContainer{
    width: 40%;
}
.ownerImg{
    width: 100%; 
}

@media (max-width:480px) {
    .owner{
        display: flex;
        flex-direction: column-reverse;
    }
        .ownerInfo{
            background-color: azure;
            width: 90%;
            display: flex;
            flex-direction: column;
            text-align: center;
          
        }
    
    .imageContainer {
        width: 100%;
        height: 100%;
      }
      
      .ownerImg {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      
    
}