.cartContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  overflow-y: scroll;
}

.cartHeader {
  text-decoration: underline;
  text-align: center;
}

.cartItems {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orderButtons{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/*cartItems component */
.cartItem {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid purple;
  border-top: 2px solid purple;
  width:70vw;
}

.cartItem * {
  border-right: 2px solid purple;
  display: flex;
  align-items: center;
}

.cartItem .cartItemImg {
  width: 10rem;
  height: 10rem;
}

.removeFromCart:hover {
  cursor: pointer;
  color: red;
}



@media (max-width:768px) {
    .cartItem .cartItemImg {
        width: 5rem;
        height: 5rem;
      }
}