.highlightsContainer {
  display: flex;
  justify-content: center;
  height: 100%;
}

.item {
  border: solid 2px black;
  text-align: center;
  list-style: none;

}
.item img {
  width: 100%;
  max-height: 50%;
}
.item .itemHead {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
}
.item .itemHead .price {
  color: lime;
}

.item .itemDescription {
  display: flex;
  border: 2px solid black;
  flex-grow: 1;
}

@media (max-width: 768px) {
  .item {
    width: 100%;
    text-align: center;
  }

  .item .itemHead {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .items {
    width: 60%;
  }
}
