.highlights {
  background-color: rgba(4, 4, 4, 0.456);
}

.highlights main {
  display: flex;
  justify-content: center;
  height: 100%;
}

.highlightsHead {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid purple;
  position: relative;
}

.highlightsHead h1 {
  text-decoration: underline;
}

.highlightsHead button {
  position: absolute;
  right: 0;
  bottom: 30%;
}

.item {
  border: solid 2px black;
  text-align: center;
}
.item img {
  width: 100%;
  max-height: 50%;
}
.item .itemHead {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
}
.item .itemHead .price {
  color: lime;
}

.item .itemDescription {
  display: flex;
  align-items: center;
  border: 2px solid black;
  flex-grow: 1;
}

@media (max-width: 768px) {
  .item {
    width: 100%;
    text-align: center;
  }

  .item .itemHead {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .items {
    width: 60%;
  }
}
