.testimonials{
    width:100%;
    overflow-x: scroll;
}

.testimonials .header{
    text-align: center;
    text-decoration: underline;
}

.reviews{
    display: flex;
    flex-wrap: nowrap;
    gap: 50px;
}

.review{
    display: flex;
    flex-direction: column;
    width: 50vw;
    border: 2px solid purple;
    border-radius: 5px;
}


.review .container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.reviewImg{
    width: 100%;
    height: 150px;
    padding: 10px 0;
}

.reviewName{
    text-align: center;
}

.review .description{
    text-align: center;
}

.review .rating{
    color: yellow;
    display: flex;
    margin: 0;
    justify-content: center;
}

@media (max-width:480px) {
    .testimonials{
        display: flex;
        flex-direction: column;
        
      
    }
    .reviews{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
  
       
       
    }
    .review .container{
        display: flex;
        flex-direction: column;
    }
   
    .review img{
        width: 70%;
        padding: 10px 0;
    }
    .review{
        width: 30vw;
        height: 50vh;

    }
    
}