.aboutSection{
    width:100%;
    display: flex;
}

.leftContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 50vw;
    border: 2px solid black;

  
}

.rightContainer{
    display: flex;
    flex-direction: column;
    width: 50vw;
    border: 2px solid black;
}

.rightContainerImg{
    width: 100%;
    height: 90%;
    
}

.rightContainer .buttons{
    display: flex;
   flex-grow: 1;
}

.rightContainer .buttons button{
    border-radius: 0;
    width: 100%;
}

.heading{
   padding: 5px ;
   margin: 0; 
   text-decoration: underline;
}

@media (max-width:480px) {
    .aboutSection{
        flex-direction: column-reverse;
    }
    .rightContainer{
        width: 100%;
    }
    .leftContainer{
        width: 100%;      
    }
    .rightContainerImg{
        width: 100%;
        height: 240px;
        
    }
}



