
.bookingForm {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(190, 41, 236);
 
}

form {
  padding: .7rem 0;

}
label {
  font-weight: 900;
  font-size: 1.5rem;
  text-transform: capitalize;
}

input,
select {
  padding: 2px;
  border: 2px solid black;
  border-radius: 1rem;
  text-align: center;
}

.formSubmitButton {
  border-radius: 50px;
  background-color: teal;
  padding: .7rem 0;
}

.formSubmitButton:hover {
  cursor: pointer;
  color: white;
}

.invalid {
  /* doesnt work, may need to create an isInvalid function */
  border: 2px solid red;
  position: relative;
}

.invalid::after {
  content: "invalid";
}

@media (max-width: 768px) {
  .bookingForm {
    border-radius: 50px;
    
  }
}
