
.headerComp{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 98;
    position: sticky;
    top: 0;
    border: 2px solid black;


}

.headerLogo{
    width: 20%;
    flex-grow: 1;
}

.headerNavBar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navBtn{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}

@media(max-width: 1024px){
    .navBtn{
          visibility: visible;
          opacity: 1;
      }
      .responsiveNav{
        transform: none;
    }
    }