.menuMainContainer{
    flex:6;
    height: 100vh;
    overflow-y: scroll;
}

.menuHeader{
    text-align: center;
}

.sortContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    bottom: 10px;
    gap: 10px;
  }

  .sortButton{
    display: flex;
    
}

.menuItems{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.menuItem{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 3px solid black;
    box-sizing: border-box;
}

.itemImg{
    width:50%;
    height: 250px;
}

.itemPrice{
    color: lime;
}

@media (max-width:480px) {
    .sortContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center
    }
    .menuItem {
        width:80%;
        margin-left: 40px; /*ugly workaround but at the same time
                            is it really?*/
        flex-direction: column;
        gap:20px;
    }
   
    .itemImg{
        width:100%;
       
    }
    .menuMainContainer{
        width: 100%;
        
      
    }
   
}