.menuRightContainer{
    flex:3;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100vh;
   

}

.menuRightHeader{
    text-decoration: underline;
    text-align: center;
}

.cartItems{
    width:100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.cartItem{
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid purple;
    border-top: 2px solid purple ;

}

.cartItem  *{
    height:100%;
    border-right: 2px solid purple;
    display: flex;
    align-items: center;

}

.cartItem .cartItemImg{
    width: 100px;
    height: 100px;
}

.countButton{
    height:25px;
}

.removeFromCart:hover{
    cursor: pointer;
    color:red;
}
.orderNow{
    margin-top: 20px;
}

@media (max-width:480px) {
    .menuRightContainer{
        display: none;
       
    }
    

}