.profileImg{
    width: 3rem;
    height: 3rem;
    border-radius: 200px;
    border: 2px solid black;
  }
  
  .profileImg:hover{
    border: 2px solid blue;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  