.about{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
   
}

.about .item1 {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.someInfo{
  text-align: center;
}


