.about{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.someInfo{
    height:30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.infoText{
    text-align: center;
}

@media (max-width:480px) {
    .someInfo{
        height:fit-content;
    }
    
    
}