.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 5rem;
  background-color: lightgray;
}

.SignInForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.passwordInput {
  position: relative;
}

.passwordInput .togglePassword {
  position: absolute;
  right: 0;
  top: 0.1px; /* might need to find a better way */
}

.buttonContainer {
  border-top: 1px solid black;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.togglePassword:hover {
  cursor: pointer;
  color: blue;
}

.inputFieldError {
  border-color: red;
}
.error {
  color: red;
  font-size: 0.8rem;
}

@media (max-width: 480px) {
  .SignInForm {
    width: 60vw;
  }
}
