.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.testimonials .header {
  text-decoration: underline;
}


.review {
  border: 1px solid purple;
  border-radius: 5px;
}

.review .reviewImg {
  width: 100%;
  height: 15rem;
  padding: 0.7rem 0;
}

.review .rating {
  color: yellow;
}

