.testimonialsContainer {
  display: flex;
  justify-content: center;
  height: 100%;
}

/* Individual Testimonial Items */
.testimonialsContainer .review {
  border: 1px solid purple;
  border-radius: 5px;
  text-align: center;
  flex: 1;
}

.testimonialsContainer .review .reviewImg {
  width: 100%;
  height: 15rem;
  padding: 0.7rem 0;
}

.testimonialsContainer .review .rating {
  color: yellow;
}
