.bookingInfo {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: capitalize;
  color: rgb(190, 41, 236);
  background-color: rgb(7, 12, 38);
}

.container {
  display: flex;
  align-items: center;
  background-color: rgb(7, 12, 38);
  flex-direction: row-reverse;
  color: rgb(190, 41, 236);
}

.bookingForm {
  width: 55%;
}

.ReservationSubmitted{
  background-color: rgb(7, 12, 38);
  color: rgb(190, 41, 236);
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.ReservationSubmitted > h2{
  margin: 0;
}

.ReservationSubmitted > button{
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 480px){
  .bookingForm{
    width: 80%;
  }
}
