.hero {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40vh;
}

.heroInfo {
  height: 100%;
  width: 50%;
  text-align: center;
  overflow-y: scroll;
}

.heroImg {
  width: 50%;
  height: 100%;
}
