.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials .header {
  text-align: center;
  text-decoration: underline;
}

.review {
  border: 2px solid purple;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex: 1;
}

.review .reviewImg {
  width: 100%;
  height: 40vh;
  padding: 0.7rem 0;
}

.review .rating {
  color: yellow;
}

@media (max-width: 480px) {
  .reviews {
    width: 60%;
    height: 100%;
  }
}
