footer{
    display: flex;
    justify-content: center;
    width:100%;
    border: 2px solid black;
    overflow-x:scroll;
}

.item1{
    display: flex;
}


.footerImg{
    width: 150px;
}

.linksContainer{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.linkElement {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
}

.listHead{
    text-decoration: underline;
}

.listElements{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    
}

.linkElement li{
    list-style: none;
    font-size: 16px;
}

.doorLink{
    text-decoration: none;
    color:black
}

.doorLink:hover{
    color:blue;
}

.listHead{
    font-size: 18px;
   
}

@media (max-width:480px) {
    footer{
        justify-content:flex-start;
    }

    .footerImg{
        width: 30vw;
    }
    .linkElement {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }


   
    .listHead{
        font-size: 12px;
    }
}