footer{
    display: flex;
    justify-content: center;
    width:100%;
    height: 20vh;
    border: 2px solid black;
    overflow-x: scroll ;

}

.item1{
    display: flex;
    
}


.footerImg{
    width: 150px;
 

}

.linksContainer{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.item2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    
}

.listHead{
    text-decoration: underline;
}

.listElements{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.item2 li{
    list-style: none;
    font-size: 16px;
}

.door-link{
    text-decoration: none;
    color:black
}

.door-link:hover{
    color:blue;
}

.listHead{
    font-size: 18px;
   
}

@media (max-width:480px) {

    .footerImg{
        width: 30vw;
    }
    .item2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }


    .linksContainer{
        display: flex;
        text-align: center;
        width: 100vw;
      
    }
   
    .listHead{
        font-size: 12px;
    }
    
    
}