footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid black;
}

.footerImg {
  width: 10rem;
  padding: 0 1rem;
}

.listElements {
  display: flex;
  gap: 2rem;
}

.listElement, .listElement li {
  list-style: none;
}


.listHead {
  text-decoration: underline;
}

.doorLink {
  text-decoration: none;
  color: black;
}

.doorLink:hover {
  color: blue;
}



@media (max-width: 768px) {

  .footerImg {
    display: none;
  }
}
