.container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.yourCart {
  background-color: lightgray;
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  border-radius: 1rem;
  text-align: center;
  table-layout: fixed; /*will fix the table to fit width*/
  font-size: small;
}



.tableHead {
  text-transform: capitalize;
  border: 1px solid black;
  border-left: none;
  border-right: none;
  color: black;
  
}

.tableHead td {
  padding: 1rem 0;
  border-left: 2px solid black;
}

.tableHead td:first-child {
  border-left: none;
}
.cartSummary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .6rem;
}

@media (min-width: 768px) {
  .cartSummary {
    flex-direction: row;
    justify-content: space-around;
  }
  .yourCart {
    width: 80%;
  }
 
}
