* {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

html:hover {
  cursor: url("../assets/my-mouse-pointer.png"), auto; /*used online tool*/
}

form {
  background-color: lightgray;
  padding: 2rem;
}

form > input,
form > select {
  width: 12em;
}
label {
  font-weight: 900;
  font-size: 1.5rem;
  text-transform: capitalize;
}

input,
select {
  padding: 2px;
  border: 2px solid black;
  border-radius: 1rem;
  text-align: center;
}
button {
  background-color: teal;
  border-radius: 2rem;
}

button:hover {
  cursor: url("../assets/cursor.png"), pointer;
  color: white;
  box-shadow: 0 0 5px white;
}

button:disabled:hover {
  cursor: not-allowed;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.497);
}
.googleSignInButton{
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: black;
  color: purple;
}
input:hover {
  border-color: #007bff;
  box-shadow: 0 0 5px #007bff;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover {
  cursor: text;
}

h2{
  margin: 0;
}

ul {
  margin: 0;
}
ul {
  padding: 0;
}


::-webkit-scrollbar {
  width: 5px;
  height: 7.5px;
}
::-webkit-scrollbar:hover {
  cursor: pointer;
}
::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 50px;
}
