
.bookingForm {
  display: grid;
  gap: 1em;
  place-items: center;
  color: black;
}

.formSubmitButton {
  border-radius: 50px;
  background-color: teal;
  padding: .7rem 0;
}

.formSubmitButton:hover {
  cursor: pointer;
  color: white;
}

.invalid {
  border: 2px solid red;
  position: relative;
}
.error{
  color: red;
  text-align: center;
}
.invalid::after {
  content: "invalid";
}

@media (max-width: 768px) {
  .bookingForm {
    border-radius: 50px;
    
  }
}
