

.navLinks{
    width: 100%;
    list-style: none;
    display: flex;
    gap:20px;
    align-items: center;

}

.navLink{
    text-decoration: none;
    color:black;
    font-size: 24px;
    width:100%;
    transition: .5s;
}

.active{
    color: red;
}

.navLink:hover{
    color: blue;
    text-decoration: underline;
}

.navBtn{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}

@media(max-width: 1024px){
  .navBtn{
        visibility: visible;
        opacity: 1;
    }
    nav{
        position: fixed;
        top: 0;
        left: 0;
        height:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: teal;
        transition: .5s;
        transform: translateX(-100vh);
    }
    
    .navLinks{
    display: flex;
    flex-direction: column;
    }
    .closeButton{
    position:absolute;
    top:10px;
    right: 10px;
    }

     

}

@media(max-width: 480px){
    .navLink{
        font-size: 18px;
    }
    .navLinks{
        align-items: flex-start;
        justify-content: center;
    }

}
